@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Turnos</h1>
    <section>
        <div>
            <h3>Turnos pendientes</h3>
            @foreach(Turno turno in ViewBag.Turnos)
            {   
                <p>@turno.Id</p>
                <p>@turno.NombreCliente</p>
                <p>@turno.FechaHora</p>
                <p>@turno.Servicio</p>
                <p>@turno.Estado</p>
            }
        </div>
        <div>

        </div>
    </section>
</div>
